/************** CUSTOMIZE COMPONENTS ***************/

textarea {
  outline: 0 none;
  width: 80%;
  height: 15cm;
  padding: 5px;
  border: 1.3px solid #dddddd;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-indent: 5em each-line;
  background-color: transparent;
  /* remove resize handle */
  resize: none;
  /* remove the blue glow */
}

textarea:focus {
  border: 1.3px solid #dddddd;
}

/************** Alightments ***************/

#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}

/************** HR ***************/

hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  width: 2.5cm;
}

.libary {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin-left: 3%;
  box-sizing: border-box;
}

/************** SECTIONS ***************/

section {}

/************** SVG ICONS ***************/

.heart-icon {
  fill: red;
}

.heart-icon:hover {
  fill: blue;
}

/************** BETA BUTTON ***************/

#beta {
  position: absolute;
  margin-left: 90%;
  right: 20px;
  top: 20px;
  z-index: 100;
  width: 9%;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 15px;
  color: white;
  text-decoration: none;
  background-color: #667078;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  -moz-box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#beta:hover {
  -webkit-box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
  -moz-box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
  box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
  color: white;
}

#beta:hover #beta-icon {
  opacity: 0.6;
}

@media (max-width: 980px) {
  #beta {
    position: absolute;
    width: 9%;
  }
}

@media (max-width: 979px) {
  #beta {
    width: 14%;
  }
}

@media (max-width: 755px) {
  #beta {
    width: 19%;
  }
}

@media (max-width: 550px) {
  #beta {
    width: 35%;
  }
}

#beta-icon {
  display: block;
  height: 60%;
  width: 20%;
  opacity: 0.4;
  /* NOTE: replace with default icon */
  background-image: url("../img/beta-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#beta-grouper {
  width: 75%;
  margin-left: 5%;
}

/********************* Footer *********************/

footer {
  padding-top: 2cm;
  height: 100px;
  margin-top: 100px;
  width: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
}