





/* ++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ VEIW RESUME +++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

#download {
  position: absolute;
  margin-left: 90%;
  right: 20px;
  top: 20px;
  z-index: 100;
  width: 9%;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 15px;
  color: white;
  text-decoration: none;
  background-color: #667078;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  -moz-box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  box-shadow: 0 5px 30px rgba(75, 75, 75, 0.20);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #download:hover {
    -webkit-box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
    -moz-box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
    box-shadow: 0 10px 30px rgba(75, 75, 75, 0.20);
    color: white; }
    #download:hover #download-icon {
      opacity: 0.6; }
  @media (max-width: 980px) {
    #download {
      position: absolute;
      width: 9%; } }
  @media (max-width: 979px) {
    #download {
      width: 14%; } }
  @media (max-width: 755px) {
    #download {
      width: 19%; } }
  @media (max-width: 550px) {
    #download {
      width: 35%;} }

#download-icon {
  display: block;
  height: 60%;
  width: 20%;
  opacity: 0.4;
  background-image: url("../img/download-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#download-grouper {
  width: 75%;
  margin-left: 5%; }
